// Estilos del input
@import './variables';

.input {
  background-color: var(--input-bg);
  border: var(--input-border);
  border-radius: 4px;
  color: var(--input-text-color);
  font-size: var(--input-font-size);
  padding: var(--input-padding);
  transition: var(--input-transition);
  width: 100%;

  &:focus {
    border: var(--input-focus-border);
    outline: none;
  }

  &::placeholder {
    color: var(--input-placeholder-color);
  }
}
