// Estilos del input
@import './variables';

.input {
  background-color: $input-bg;
  border: $input-border;
  border-radius: 4px;
  color: $input-text-color;
  font-size: $input-font-size;
  padding: $input-padding;
  transition: $input-transition;
  width: 100%;

  &:focus {
    border: $input-focus-border;
    outline: none;
  }

  &::placeholder {
    color: $input-placeholder-color;
  }
}
